<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Reset Your Password</h1>
    <form 
    action="http://localhost:3000/api/auth/update-password/<%=user_id %>"
     method="post">
      
     <input
      type="text"
      placeholder="new Password"
      name="password"
      required
      >

       <input
      type="text"
      placeholder="confirm Password"
      required
      >

    <button type="submit">Update password</button>

    </form>

</body>
</html>